attrs~=23.2.0
pysocks~=1.7.1
filelock~=3.13.1
packaging~=23.2
virtualenv~=20.25.0
requests~=2.32.3
requests-toolbelt~=1.0.0
platformdirs~=4.1.0
certifi~=2024.7.4
urllib3~=2.2.2
pytest~=8.3.3
pluggy~=1.5.0
idna~=3.7
charset-normalizer~=3.3.2
distlib~=0.3.8
cffi~=1.16.0
deprecated~=1.2.15
selenium~=4.26.1
allure-python-commons~=2.13.5
assertpy~=1.1
python-dotenv~=1.0.1
mysql-connector-python~=9.1.0
dataclasses-json~=0.6.7
xlrd~=2.0.1
tenacity~=9.0.0